
  <div class="widget-wrapper">
    <div class="widget-title-home"><h3>Advertisement</h3></div>
      <div class="textwidget">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Cloud-Surfer Home -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:250px;height:250px"
             data-ad-client="ca-pub-2492251344344116"
             data-ad-slot="5644864762"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
          <div class="textwidget"></div>
    </div><!-- end of .widget-wrapper -->
  
