<div id="text-2" class="widget-wrapper widget_text">
  <div class="widget-title"><h3>Advertisement</h3></div>
  <div class="textwidget">
    <p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Cloud-Surfer -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:160px;height:600px"
         data-ad-client="ca-pub-2492251344344116"
         data-ad-slot="4807997589"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
