<div id="footer" class="clearfix" role="contentinfo">
	<div id="footer-wrapper">

	<!--   main-->

		<div id="content-outer">
	 	</div>
	 	<div id="content-outer">
			<div class="grid col-300 copyright">
			&copy; 2014 - {{ 'now' | date: "%Y" }} <a id="copyright_link" href="/about/" title="Cloud-Surfer">Cloud-Surfer</a>
			</div><!-- end of .copyright -->

			<div class="grid col-300 scroll-top"><!--<a href="#scroll-top" title="scroll to top">&uarr;</a>
			<div id="scroll-to-top"><span class="glyphicon glyphicon-chevron-up"></span></div>--></div>

			</div>
		</div><!-- end #footer-wrapper -->
	</div><!-- end #footer -->
	<div id="scroll" title="Scroll to Top" style="display: block;">Top<span></span></div>
	<script type='text/javascript' src='/assets/js/responsive-scripts.min.js' defer></script>
	<script type='text/javascript' src='/assets/js/jquery.placeholder.min.js' defer></script>
	<script type='text/javascript' src='/assets/js/wp-embed.min.js' defer></script>
	</body>
</html>
