<div class="main-nav">
  <ul id="menu-main" class="menu">
    <li id="menu-item-178" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-178">
      <a href="/">Home</a>
    </li>
    <li id="menu-item-180" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-180">
      <a href="/category/3dr-iris/">3DR IRIS</a>
      <ul class="sub-menu">
        <li id="menu-item-182" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-182">
          <a href="/category/3dr-iris/frame-and-legs/">Frame and legs</a>
        </li>
        <li id="menu-item-188" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-188">
          <a href="/category/3dr-iris/power-and-motors/">Power and Motors</a>
        </li>
        <li id="menu-item-183" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-183">
          <a href="/category/3dr-iris/remote-control/">Remote Control</a>
        </li>
        <li id="menu-item-383" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-383">
          <a href="/category/3dr-iris/sensors/">Sensors</a>
        </li>
        <li id="menu-item-184" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-184">
          <a href="/category/3dr-iris/telemetry/">Telemetry</a>
        </li>
        <li id="menu-item-181" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-181">
          <a href="/category/3dr-iris/gimbal/">Gimbal</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-118" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-118">
      <a title="Ground Control Station" href="/category/ground-control-station/">GCS</a>
      <ul class="sub-menu">
        <li id="menu-item-119" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-119">
          <a href="/category/ground-control-station/droidplanner/">DroidPlanner / 3DR Tower</a>
        </li>
      </ul>
    </li>
    <li id="menu-item-186" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-186">
      <a href="/category/fpv/">FPV</a>
    </li>
    <li id="menu-item-249" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-249">
      <a href="/category/training/">Flight Training</a>
    </li>
    <li id="menu-item-185" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-185">
      <a href="/category/aerial-photography/">Aerial photography</a>
    </li>
    <li id="menu-item-187" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-187">
      <a href="/category/mapping/">Mapping</a>
    </li>
    <li id="menu-item-179" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-179">
      <a href="/about/">About</a>
    </li>
  </ul>
</div>
