{% include header.html %}

			<div id="container" class="row-fluid">
				<div id="content" class=" span12">
					<article id="post-3" class="post-3 page	type-page status-publish hentry">
	
						<header class="entry-header">
							<h2 class="entry-title">{{ page.title }}</h2>
						</header><!-- .entry-header -->	  
						<div class="entry-content">
							{{ content }}
						</div><!-- .entry-content -->
		
	
					</article><!-- #post-2617 -->      
			
			
				
				</div><!-- #content -->
			</div><!-- #row-fluid -->	
		
{% include footer.html %}
